body {
  box-sizing: border-box;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  overflow:hidden;
  text-transform: uppercase;
  font-family: opensans, sans-serif;
}

.wrapper{
  display: flex;
  height: 100vh;
}

// sidebar
.sidebar{
  background: #5d5e5e;
  flex-basis: 20%;
}


//content-area
.content-area{
  width: 100%;
  background-image:url(../../images/planets.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-color: #eff1ef;
  box-shadow: 2px 2px 2px rgba(92, 88, 91, 0.8);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 60px;
  border-radius: 4px;
}
//
// button:focus{
// box-shadow: 2px 2px 2px rgba(220, 224, 230, 0.8)
// }
.timer{
  justify-content: flex-end;
}
