body, html {
  box-sizing: border-box;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  overflow:hidden;
  border: 1px solid red;
}

.sidebar{
background: #5d5e5e;
flex-basis: 20%;
}

// h1{
//      color: #edf1f2;
//      font-size:6.5rem;
//   font-weight: 700;
//   letter-spacing: -10px;
//   margin: 0;
//   position: absolute;
//   text-transform: uppercase;
//   // top: 100px;
//   transform: translateX(-60px) rotate(-90deg);
// }

.container{
  display: flex;
  height: 100vh;
}

.content-area{
  width: 100%;
  background-image:url(../../images/planets.jpg);
  background-size: cover;
}
